
.search-bar-container {
    border: 2px solid black;
    background-color: #ffffff;
    width: 170px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    padding: 0.6rem 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    width: 95%;
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
  
  .search-button {
    width: 5%;
    text-align: center;
    padding-right: 1rem;
    background:none;
    border: none;
  }

  .search-button:hover {
    cursor: pointer;
  }