.filter-icon:hover {
    cursor: pointer;
}

.modal-content {
    z-index: 100;
    position: fixed;
    background-color: white;
    border: 1px solid #bec5ca;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.filter-option {
    padding: 1rem 0.5rem;
    margin: 0;
    border-bottom: 1px solid #bec5ca;
    transition: 0.4s;
    border-radius: 8px;
}

.filter-option:hover {
    background-color: #F3F5F7;
 transition: 0.4s;
 cursor: pointer;
}