@import '../../DesignSystem.scss';

.SubjectListItem {
    display: grid;
    grid-template-columns: 20% 20% 18% 18% 18% 24px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid #E2E6EA;
    box-sizing: border-box;
    padding: 0px 25px;
    height: 68px;

    p{
        @include body-regular;
    }

    img {
        width: 24px;
    }
}